/* Corpo da página */
body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

/* Cabeçalho do site */
header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Links do menu de navegação */
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Efeito quando passa o mouse no menu */
nav a:hover {
    color: #00bfff;
}

/* Área principal do conteúdo */
main {
    background: white;
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
}

/* Campos do formulário */
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* Botão para enviar formulário */
button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}
